/* navbar for medium devices */
@media screen  and (min-width:577px) and (max-width: 992px) {

    .navbar {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .nl-container{
        flex-direction: column;
    }


}

/* navbar for small devices */
@media screen and (max-width: 576px) {

    .menu-container {
        display: none;
    }

    .hamburger-container {
        display: block;
    }

    .navbar {
        flex-direction: row;
        /* align-items: center; */
    }

    .banner {
        flex-direction: column;
    }

    .banner-photo {
        width: 100%;
    }

    .banner-text {
        width: 100%;
    }

    .cards-container {
       grid-template-columns: repeat(1, 1fr);

    }

    .nl-container{
        flex-direction: column;
    }

    .nl-pic{
        width: 100%;
    }

    .nl-form{
        width: 100%;
    }

}