/* shared css styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.common-title {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
}

/* header css styles */
.header-section {
    background-color: rgb(71, 85, 105);
    margin-bottom: 40px;
}

.navbar {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-container {
    display: flex;
    gap: 10px;
}

.menu-btn {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.hamburger-container {
    display: none;
}

/* main section css styles */
.main-section {
    max-width: 1024px;
    margin: 0 auto;
}

/* banner styles */
.banner {
    background-color: rgb(242, 242, 242);
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-photo {
    width: 47%;
    position: relative;
}

.banner-photo img {
    width: 100%;
    border-radius: 10px;
}

.discount {
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    width: max-content;
    padding: 15px 30px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 35%;
}

.banner-text {
    width: 47%;
    text-align: center;
}

.banner-text h1,
p,
button {
    margin-top: 10px;
}

.banner-btn {
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

/* collection css styles */
.collection {
    margin-bottom: 40px;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    /* border: 2px solid red; */
    width: 300px;
    padding: 10px;
    box-shadow: 3px 3px 6px 6px rgba(42, 39, 39, 0.27);
    border-radius: 10px;
}

.card-photo {
    /* border: 2px solid green; */
    width: 280px;
    height: 250px;

}

.card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card-info {
    margin-bottom: 10px;
}

.card-rating {
    display: flex;
    gap: 10px;
}

.icons {
    color: orange;
}

.points span {
    color: rgba(0, 0, 0, 0.527);
    font-weight: bold;
}

.card-description p {
    color: rgba(0, 0, 0, 0.527);
}


/* newsletter section styles */
.newsletter {
    margin-bottom: 40px;
}

.nl-container {
    display: flex;
    justify-content: space-between;
}

.nl-pic {
    width: 47%;
}

.nl-pic img {
    width: 100%;
}

.nl-form {
    width: 47%;
}

#name,
#email,
#password,
#profession,
#textarea {
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#submit{
    background-color: palevioletred;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}